.block-responsive-menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
  width: auto;
  /* background-color: #DADA56; vert*/
  /* background-color: #4169E1; bleu */
  /* gris */
  background-color: #b4b3b3;
  /*border: 1px @color-gris-fonce solid;*/
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.responsive-menu-toggle-icon {
  width: 50px;
  height: 40px;
}
.responsive-menu-toggle-icon span.label {
  display: none;
}
.responsive-menu-toggle-icon:before,
.responsive-menu-toggle-icon:after,
.responsive-menu-toggle-icon span.icon {
  background-color: #3E3F3A !important;
  width: 34px;
  height: 3px;
  left: 8px;
}
.responsive-menu-toggle-icon:before {
  top: 10px;
}
.responsive-menu-toggle-icon span.icon {
  top: 18px;
}
.responsive-menu-toggle-icon:after {
  top: 26px;
}
.mm-panels {
  background-color: #556e98!important;
}
.mm-menu.mm-theme-dark em.mm-counter,
.mm-menu.mm-theme-dark .mm-navbar > *,
.mm-menu.mm-theme-dark .mm-navbar a {
  font-size: 1.0em;
  color: #DADA56;
}
li.expanded.dropdown {
  width: 100%;
  font-size: 9px;
}
ul.menu.nav.mm-listview .expanded a,
ul.menu.nav.mm-listview .expanded a,
a.mm-title {
  color: #fff!important;
  text-decoration: underline!important;
}
.footer a,
.mm-menu a {
  color: #b4b3b3!important;
  text-decoration: underline!important;
}
ul.menu.nav.mm-listview .expanded a,
ul.menu.nav.mm-listview .expanded a,
a.mm-title {
  color: #fff!important;
  text-decoration: underline!important;
}
.nav {
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11PX;
}
.mm-menu.mm-offcanvas {
  max-width: 350px;
}
body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/tc1.jpg");
  min-height: 100%;
  min-height: 400px;
  filter: sepia(1);
}
.bgimg-2 {
  background-image: url("../images/tc2.jpg");
  min-height: 400px;
  filter: sepia(1);
}
.bgimg-3 {
  background-image: url("../images/tc3.jpg");
  min-height: 400px;
  filter: sepia(1);
}
.bgimg-4 {
  background-image: url("../images/tc1.jpg");
  min-height: 200px;
  filter: sepia(1);
}
.caption {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}
#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
div#map {
  filter: grayscale(0.7);
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
  }
}
@media (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: -15px;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}
a.logo.navbar-btn.pull-left {
  float: left;
}
.navbar-small .navbar-right {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-alt .navbar-right {
  margin-top: 20px;
  margin-bottom: 27px;
}
.navbar-default .navbar-right {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}
.navbar-nav {
  margin: 7.5px -15px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
.region.region-navigation {
  height: 80px;
}
header#navbar1 {
  height: 100px;
}
.block-contacter {
  /* filter: sepia(1); */
  background-color: gray;
  color: #fff;
  /* opacity: 0.8; */
}
.footer {
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #E5E5E5;
}
.cachecache {
  display: none;
}
.container-text,
.container-text-fond-noir {
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
.container-text-fond-noir {
  background-color: #282E34;
  color: #ddd;
}
.container-text {
  color: #777;
  background-color: white;
}
svg.svg-inline--fa.fa-location-arrow.fa-w-16 {
  margin-right: 10px;
}
svg.svg-inline--fa.fa-envelope.fa-w-16 {
  margin-right: 10px;
}
.nous-contacter {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 15px;
}
.block-mail {
  text-align: center;
}
.block-copyright {
  text-align: center;
}
a.mail {
  color: #fff;
}
.responsive-menu-block-wrapper {
  display: none!important;
}
